/* Variables  */
:root {
--accent-1-font: righteous;
--accent-2-font: league spartan;
--paragraph-font: archivo;
--navbar-font: archivo;
--red: #C62321;
--yellow: #FFB815;
--yellow-hover:  #FF8A00;
--blue: #004FBE;
--body-background-color: #F2EDE5;
}




/* General CSS  */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-background-color);
    scroll-behavior: smooth;
}

/* Nav bar header  */
header {
    margin-top: 15px;
    margin-bottom: 30px;
}

.logo {
    margin: auto;
    text-align: center;
    max-width: 170px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.logo h1 {
    font-family: var(--navbar-font);
    font-weight: 200;
    font-size: 15px;
    background-color: black;
    border-radius: 10px;
    padding: 5px 12px;
    width: 50%;
    margin: auto;
    transition: 0.3s ease-in-out;
}

.logo h1:hover {
    background-color: var(--red);
    font-size: 17px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.1s ease-in-out;
}

/* Article heading  */
/* Article heading  */
/* Article heading  */
        .heading {
            margin-top: 50px;
            margin-bottom: 170px;
        }

    /* Date  */
        h5 {
            font-weight: 300;
            text-align: right;
            margin-right: 10px;
            margin-bottom: 30px;
        }

    /* Article title  */
        h1 {
            font-family: var(--accent-1-font);
            font-size: 40px;
            display: inline-block;
            line-height: 1.2;
            background-color: var(--red);
            border-radius: 0 220px 220px 0;
            width: 90%;
            margin-top: 0;
            margin-bottom: 40px;
            padding: 20px;
        }

    /* Article subtitle  */
        h2 {
            font-size: 30px;
            line-height: 1.2;
            font-weight: 500;
            padding-left: 20px;
            max-width: 500px;
            margin-bottom: 30px;
        }

        .intro_paragraph p {
            font-weight: 500;
            font-size: 20px;
        }

    /* Author name  */
        h4 {
            font-size: 23px;
            background-color: var(--yellow);
            border-radius: 200px 0 0 200px;
            padding: 10px;
            padding-right: 30px;
            text-align: right;
            min-width: 300px;
            float: right;
        }


/* Article section  */

h2, h4, h5, blockquote {
    font-family: var(--accent-2-font);
}

/* divider  */
.divider_section_container {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 10px;
    margin-bottom: 50px;
}

.divider_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: repeat(1, 1fr); 
    gap: 10px;
  }
  
  .divider {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--blue); 
  
    &:nth-child(odd) {
      border-radius: 0;
      background-color: var(--red); 
    }
  }

    .divider_section:nth-child(n+3) {
        display: none;
    }

  /* Subheading  */
h3 {
    color: white;
    font-family: var(--accent-1-font);
    background-color: var(--red);
    padding: 20px;
    margin-bottom: 40px;
    padding-left: 20px;
    margin-top: 70px;
    font-size: 23px;
    /* transition: all 1s ease; */
}

.h3_container {
    margin-top: 30px;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* paragraphs  */
p {
    font-family: var(--paragraph-font);
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

/* blockquote  */
blockquote {
    font-weight: 400;
    font-size: 25px;
    text-indent: -6px;
    margin: 45px 0 45px 45px;
    line-height: 1.2;
    position: relative;
    width: 80%;
}

.blockquote_div {
    position: relative;
}

.blockquote_circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--red); 
    position: absolute;
    left: 26px;
    transform: translateY(-25%);
}

/* top button  */
.top_button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background-color: var(--yellow);
    z-index: 5;
}

.top_button h6 {
    color: black;
    font-family: var(--accent-1-font);
    font-size: 18px;
    font-weight: 400;
    transition: 0.1s ease-in-out;
    padding: 4px 6px 4px 6px;
}

/* footer  */
footer {
    background-color: black;
    color: white;
    padding: 20px;
}

footer p {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 0;
}


/* Tablet media query  */
/* Tablet media query  */
/* Tablet media query  */
@media (min-width: 720px) {
    
    p {
        width: 60%;
        font-size: 20px;
    }
    
    .intro_paragraph p {
        font-size: 24px;
    }

    h3 {
        font-size: 30px;
    }

    blockquote {
        /* font-weight: 500; */
        font-size: 30px;
        width: 60%;
        line-height: 1.3;
        margin: 60px 0 60px 80px;
    }

    .blockquote_circle {
        width: 70px;
        height: 70px;
        left: 60px;
    }

    .heading h1 {
        max-width: 65%;
        font-size: 48px;
        padding: 30px;
    }

    h2 {
        max-width: 600px;
        font-size: 35px;
        padding-left: 30px;
    }

    h4 {
        font-size: 30px;
        padding-left: 30px;
        margin-top: 40px;
    }

    h5 {
        font-size: 18px;
    }

    .heading {
        margin-bottom: 200px;
    }

    .top_button h6:hover {
        font-size: 23px;
        background-color: var(--yellow-hover);
    }

}

/* Desktop media query */
/* Desktop media query */
/* Desktop media query */
@media (min-width: 1280px) {
    p {
        width: 50%;
        font-size: 21px;
    }

    .intro_paragraph p {
        font-size: 25px;
    }

    h3 {
        font-size: 33px;
    }

    blockquote {
        font-size: 33px;
        width: 55%;
        line-height: 1.4;
        margin: 80px 0 80px 150px;
    }

    .blockquote_circle {
        width: 80px;
        height: 80px;
        left: 125px;
    }

    h1 {
        width: 60%;
        font-size: 55px;
        line-height: 1.3;
        padding: 40px 20px 40px 50px;
    }

    h2 {
        max-width: 700px;
        font-size: 40px;
        padding-left: 40px;
    }

    h4 {
        font-size: 35px;
    }

    .heading {
        margin-bottom: 250px;
    }
}

/* All these media queries just for the divider.. */
/* All these media queries just for the divider.. */
/* All these media queries just for the divider.. */
@media (min-width: 530px) {
    .divider_section:nth-child(n+3) {
        display: grid;
    }
     .divider_section:nth-child(n+4) {
        display: none;
    }
}

@media (min-width: 710px) {
    .divider_section:nth-child(n+4) {
        display: grid;
    }

    .divider_section:nth-child(n+5) {
       display: none;
   }
}

@media (min-width: 890px) {
    .divider_section:nth-child(n+5) {
        display: grid;
    }

    .divider_section:nth-child(n+6) {
       display: none;
   }
}

@media (min-width: 1070px) {
    .divider_section:nth-child(n+6) {
        display: grid;
    }

    .divider_section:nth-child(n+7) {
       display: none;
   }
}