header {
    margin-top: 15px;
    margin-bottom: 30px;
}

body {
    background-color:#D0FBFF;
}

a {
    color: white;
}

.logo h1 {
    font-family: 'archivo', sans serif;
    font-weight: 200;
    font-size: 15px;
    background-color: black;
    border-radius: 50px;
    padding: 5px;
    width: 50%;
    margin: auto;
}

.Lorusso_header, .Norman_header, .Iskander_header {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'righteous', sans serif;
    font-size: 50px;
    /* margin: 0; */
    line-height: 1.2;
    background-color: #FF7558;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 250px;
    width: 90%;
    margin-left: -10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2, h4, h5 {
    font-family: 'league spartan', sans serif;
}

h3 {
    font-family: 'righteous', sans serif;
    background-color: #FF7558;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
    margin-top: 70px;
    font-size: 25px;
}


p {
    font-family: 'archivo', sans serif;
    line-height: 1.5;
    font-size: 18px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

h5 {
    font-weight: 300;
    text-align: right;
    margin-right: 10px;
}

h4 {
    font-size: 23px;
    background-color: #FDDE3B;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    margin-right: -10px;
    padding: 10px;
    padding-right: 20px;
    text-align: right;
    /* width: 50%; */
}

h2 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 500;
    margin-left: 10px;
}



.divider_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.divider {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3498db; /* Circle color */

  /* Apply square style to even dividers */
  &:nth-child(odd) {
    border-radius: 0;
    background-color: #e74c3c; /* Square color */
  }
}