.overview h1 {
    background-color: #F2EDE5;
    /* margin: auto; */
    padding: 0;
    margin-bottom: 40px;
    font-size: 65px;
    line-height: 1.3;
    text-align: center;
    justify-content: center;
    width: auto;
    display: block;
}

.overview_intro {
    margin-bottom: 50px;;
}
.overview p {
    width: 90%;
    font-weight: 500;
    font-size: 20px;
}

.articles {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-bottom: 100px;
    border-radius: 0 70px 70px 0;
}

.articles_summary {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.articles_summary:nth-child(3) {
    margin: 0;
}

.articles_summary summary {
    background-color: #4448AC;
    color: #fff;
    border-radius: 0 100px 100px 0;
    font-family: 'league spartan', sans serif;
    font-size: 25px;
    font-weight: 600;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.articles_summary summary:hover {
    background-color: tomato;
}

.articles_summary_title {
    width: 100%;
}

.articles_summary details summary {
    /* list-style: none;  */
    cursor: pointer;
}

.articles_summary details summary::after {
    content: '\25B2';
}

.articles_summary details[open] summary::after {
    content: '\25BC'; 
}

.articles_summary h1 {
    font-family: 'league spartan', sans serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    /* background-color: #4448AC; */
}

.articles_summary h2 {
    font-family: 'league spartan', sans serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.articles_summary p {
    margin-top: 20px;
    border-left: solid black 1px;
    padding-left: 15px;
    margin-left: 20px;
    width: 80%;
}

.colophon h3 {
    margin-top: 0;
    background-color: #C62321;
}

.colophon {
    margin-top: 30px;
}