/* Variables  */
:root {
    --accent-1-font: righteous;
    --accent-2-font: league spartan;
    --paragraph-font: archivo;
    --navbar-font: archivo;
    --red: #C62321;
    --yellow: #FFB815;
    --yellow-hover:  #FF8A00;
    --blue: #004FBE;
    --body-background-color: #F2EDE5;
    --summary-background-color:  #F8F5EE;
    }

.overview {
    margin-top: 50px;
}

.overview_title {
    margin-bottom: 50px;
}

.overview_title_shape_1 {
    background-color: var(--red);
    width: 230px;
    height: 180px;
}

.overview_title_shape_2 {
    background-color: var(--yellow);
    width: 210px;
    height: 210px;
    border-radius: 200px;
    margin-top: -150px;
    margin-left: 15%;
    
}

.overview_title_line {
    border: solid 1px black;
    width: 60%;
    margin-top: -30px;
    margin-left: auto;
}

.overview h1 {
    background-color: transparent;
    padding: 0;
    margin-top: -180px;
    margin-bottom: 40px;
    font-size: 73px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    justify-content: center;
    width: auto;
    display: block;
}

.overview_intro {
    margin-bottom: 50px;
    margin: auto;
}


.overview p {
    width: 90%;
    font-weight: 500;
    font-size: 20px;
    max-width: 600px;
}

.colophon p {
    width: 90%;
    max-width: 600px;
}

.articles {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.articles_summary {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.articles_summary:nth-child(3) {
    margin: 0;
}

.articles_summary summary {
    background-color: var(--yellow);
    border-radius: 0px 100px 100px 0px;
    font-family: var(--accent-2-font);
    font-size: 25px;
    font-weight: 600;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles_summary summary:hover {
    background-color: var(--yellow-hover);
}

.articles_summary_title {
    width: 100%;
}

.articles_summary:nth-child(3) {
    margin: 0;
}

.articles_summary_title {
    width: 100%;
}


.articles_summary details summary {
    cursor: pointer;
}

.articles_summary details summary::after {
    content: '\25B2';
}

.articles_summary details[open] summary::after {
    content: '\25BC'; 
}

.articles_summary h1 {
    font-family: var(--accent-2-font);
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.articles_summary h2 {
    font-family: var(--accent-2-font);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.summary_text {
    background-color: var(--summary-background-color);
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 20px;
    margin-top: 10px;
    margin-right: 15px;
}

.summary_text a:hover {
    font-size: 40px;
    font-weight: 600;
    color: var(--red);
}

/* details summary::-webkit-details-marker {
    display:none;
  } */

.summary_text a {
    display: block;
    text-align: right; 
    font-size: 30px; 
    margin-top: 10px;
    color: black;
    padding-bottom: 10px;
}

.articles_summary p {
    margin-top: 20px;
    padding-left: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 90%;
}

.colophon h3 {
    margin-top: 0;
    color: black;
    background-color: transparent;
    border-bottom: solid gray 2px;
}

.colophon {
    margin-top: 30px;
}

.colophon p:nth-child(4) {
    font-size: 15px;
}

.divider_section {
    margin-top: 50px;
}

/* overview shapes media query */
/* overview shapes media query */
/* overview shapes media query */
@media (min-width: 589px) {
 .overview_title_line {
    margin-bottom: 80px;
 }

 .overview_title h1 {
    margin-top: -200px;
 }

 .overview_title_shape_1 {
    width: 300px;
    height: 220px;
 }

 .overview_title_shape_2 {
    width: 260px;
    height: 260px;
    margin-top: -180px;
 }

}

/* landing-page articles media query */
/* landing-page articles media query */
/* landing-page articles media query */

@media (min-width: 975px) {
    .overview h1 {
        font-size: 100px;
    }

    .overview_title_line {
        margin-bottom: 120px;
        width: 40%;
     }
    
     .overview_title h1 {
        margin-top: -250px;
     }
    
     .overview_title_shape_1 {
        width: 360px;
        height: 250px;
     }
    
     .overview_title_shape_2 {
        width: 320px;
        height: 320px;
        margin-top: -210px;
     }

    .articles {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .articles_summary {
        width: 32.5%;
        padding-right: 7px;
    }

    .articles_summary_title {
        padding: 17px 0 17px 0;
    }

    .articles_summary h1 {
        font-size: 22px;
    }

    .articles_summary h2 {
        font-size: 17px;
    }

    .articles_summary p {
        font-size: 17px;
    }

    .overview h1 {
        margin-bottom: 80px;
    }

    .overview_intro {
        display: flex;
        flex-direction: row;
        margin: 40px;
        justify-content: space-between;
    }

    .overview_intro p {
        font-size: 22px;
    }

    .colophon_paragraph {
        display: flex;
        flex-direction: row;
        margin: 40px;
        justify-content: space-between;
    }
}

@media (min-width: 1080px) {

    .articles_summary h1 {
        font-size: 25px;
    }

    .articles_summary h2 {
        font-size: 19px;
    }

    .articles_summary p {
        font-size: 19px;
    }
}


/* Desktop media query */
/* Desktop media query */
/* Desktop media query */
@media (min-width: 1280px) {
    .overview h1 {
        font-size: 100px;
    }

    .articles_summary_title {
        padding: 20px 0 20px 0;
    }
    .articles_summary h1 {
        font-size: 26px;
    }

    .articles_summary h2 {
        font-size: 22px;
    }

    .overview_intro, .colophon_paragraph {
        margin: 80px;
    }

    .overview_title_line {
        margin-bottom: 150px;
        width: 30%;
     }
    
     .overview_title h1 {
        margin-top: -250px;
     }
    
     .overview_title_shape_1 {
        width: 420px;
        height: 270px;
     }
    
     .overview_title_shape_2 {
        width: 380px;
        height: 380px;
        margin-top: -210px;
     }

}